/* Input Styles */
.input {
  position: relative;
  display: inline;
  width: 300px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #ffffff80; 
  border-radius: .3rem;
  background-color: #1c1c1c;
  box-shadow: inset 0 0 0 1px var(--light, var(--primary-color-6))
    var(--dark, var(--primary-color-7));
  color: --text-color; 
  cursor: text;
  gap: 0.1rem;
  transition: background-color 100ms ease-out;
}

.input::placeholder {
  color: --text-color; 
}

.input:disabled {
  color: var(--secondary-color-5);
  cursor: not-allowed;
}

.input:focus-visible {
  outline: none;
  box-shadow: none;
}
