/* App-wide styling */
body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: system-ui, Tahoma, Geneva, Verdana, sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

#header-wrapper {
  background-color: #1c1c1c;
  padding: 0rem;
}

#header {
  display: block;
  margin: 0 auto;
}
