@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

/* App-wide styling */
body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

#header-wrapper {
  background-color: #1c1c1c;
  padding: 0rem;
}

#header {
  display: block;
  margin: 0 auto;
}

.container {
  border: 10px solid transparent;
}

.small_container {
  border: 5px solid transparent;
}
